<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
        <link  rel="stylesheet" href="/style.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
    <nav class="main-nav">
    <div class="login-info">
        {% if app.user %}
            Bonjour, {{ app.user.email }} !
            <a href="{{ path('lego_store_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('lego_store_login') }}">Se connecter</a>
        {% endif %}
    </div>
    {% for collection in collections %}
        {# On peut utiliser la méthode replace pour transformer les espaces en underscores si nécessaire pour l'URL #}
            <a href="/{{ collection.name | lower | replace({' ':'_'}) }}">
                {{ collection.name }}
            </a>
    {% endfor %}

{# Affichage conditionnel pour les utilisateurs premium #}
{% if app.user %}
    <a href="/premium">Premium</a>
{% endif %}

    </nav>
    
</header>

    <main>
    
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
