{% extends 'base.html.twig' %}

{% block title %}Détails du Lego{% endblock %}

{% block body %}
<div class="lego_card">
    <div class="info_section">
        <div class="lego_header">
            <img class="locandina" src="{{ asset('images/' ~ lego.boxImage) }}" alt="Boîte de {{ lego.name }}" />
            <h1>{{ lego.name }}</h1>
            <h4>Collection : {{ lego.collection }}</h4>
            <span class="pieces">Pièces : {{ lego.pieces }}</span>
            <p class="price">{{ lego.price }}€</p><br>
            {# Utilisation de la fonction path pour générer l'URL de la route 'buy' #}
            <a href="{{ path('buy', {'id': lego.id}) }}"><button>Buy</button></a>
        </div>
        <div class="lego_desc">
            <p class="text">
                {{ lego.description }}
            </p>
        </div>
        <div class="lego_social">
            <ul>
                <li><i class="material-icons">share</i></li>
                <li><i class="material-icons">favorite</i></li> {# Correction de l'icône #}
                <li><i class="material-icons">chat_bubble</i></li>
            </ul>
        </div>
    </div>
    <div class="blur_back">
        <img src="{{ asset('images/' ~ lego.legoImage) }}" alt="background lego card">
    </div>
</div>
{% endblock %}
